certifi==2021.5.30
colorama==0.4.4
deepspeech==0.9.3
halo==0.0.31
log-symbols==0.0.14
numpy==1.14.4
PyAudio==0.2.11
scipy==1.4.1
six==1.16.0
spinners==0.0.24
termcolor==1.1.0
webrtcvad==2.0.10
wincertstore==0.2
